<ion-grid >
    <ion-row >
      <ion-col class="logo left" size="6">Sidekick</ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="main left" size="10">
        Focus on the contacts that matter to you
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="sub left" >
    Set call goals to help yourself have meaningful relationships.For the best experience, we’ll needto ask your permission for a few things.</ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col> <img src="../assets/icon/illustration-2.svg"></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row class="getStarted">
      <ion-col size="2"></ion-col>
      <ion-col class="center"> Get Started </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

