<ion-content class="pad">
  <h1 class="pad">Your Relationship</h1>
  <h2 class="center">Day 1</h2>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/hannah.png">
      </ion-avatar>
      <ion-label>Hannah Lee</ion-label>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
      <ion-label class="end">0/3 Calls</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/sam.png">
      </ion-avatar>
      <ion-label>Sam Umirdinov</ion-label>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
      <ion-label class="end">0/3 Calls</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/alex.png">
      </ion-avatar>
      <ion-label>Alex Le</ion-label>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="circle">
         </ion-icon>
      <ion-label class="end">0/3 Calls</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/avatar.png">
      </ion-avatar>
      <ion-label>Ajit</ion-label>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="circle">
         </ion-icon>
         <ion-icon name="circle">
         </ion-icon>
      <ion-label class="end">0/3 Calls</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
            <img src="../assets/avatar.png">
      </ion-avatar>
      <ion-label>Sefunmi</ion-label>
         <ion-icon name="checkmark-circle-outline">
         </ion-icon>
         <ion-icon name="circle">
         </ion-icon>
         <ion-icon name="circle">
         </ion-icon>
      <ion-label class="end">0/3 Calls</ion-label>
    </ion-item>
    
  </ion-list>
 
</ion-content>

