// ion-header {
//     font-family: Barlow;
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 800;
//     line-height: 32px;
//     letter-spacing: 0em;
//     text-align: left;

// }
.pad{
    padding: 5%;
}
ion-avatar {
    height: 75px;
    width: 75px;
}
ion-icon[name=checkmark-circle] {
    color: #5E6DF2;
}